---
const faq = [
  {
    question: "How do I get started with your BaaS platform?",
    answer:
      "Getting started is straightforward. Simply click on the 'Contact DerivaConnect', 'Speak to an Expert' or 'Contact Sales' buttons on our website, and work with a member of our team to create your new account.",
  },
  {
    question: "Why should I use your BaaS platform?",
    answer:
      "We are the first and only provider to allow for bespoke derivative trading in both the UAE and Kingdom of Saudi Arabia (including swaps and repacks). We have eliminated all the regulatory hurdles for you ahead of time.",
  },
  {
    question: "What payment options are available?",
    answer:
      "We have a world class clearing system to meet all your payment processing needs. ",
  },
  {
    question: "How do you protect my data?",
    answer:
      "Data protection is our top priority. We employ advanced encryption and security practices to safeguard your information, ensuring compliance with global data protection regulations.",
  },
  {
    question: "How can I reach customer support?",
    answer:
      "Our customer support team is available via email, live chat, and phone. Visit our 'Support' or 'Contact Us' page for more details and to get in touch.",
  },
  {
    question: "What are the technical requirements?",
    answer:
      "Our platform is accessible on most devices with internet connectivity and a modern web browser. For specific software or OS requirements, please refer to our 'Technical Requirements' section.",
  },
];
---

<section>
  <div class="max-w-screen-xl px-8 py-12 mx-auto md:px-12 lg:px-32">
    <div>
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        FAQ
      </span>
      <p
        class="mt-8 text-4xl font-semibold tracking-tighter lg:text-3xl text-blue-950"
      >
        Frquently asked questions <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
          >ready to be answered</span
        >
      </p>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
        Explore a wide range of financial tools, features, and support for your
        financial goals and questions
      </p>
      <div class="flex flex-wrap items-center gap-2 mt-10">
        <a
          href="/forms/contact"
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-full bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-700 shadow-button shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
          >Contact sales</a
        >
        <a
          href="/"
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
          >See all pages</a
        >
      </div>
    </div>
    <div
      class="grid grid-cols-1 mt-12 gap-y-12 gap-x-4 lg:gap-x-12 md:grid-cols-2"
    >
      {
        faq.map((faq) => (
          <>
            <div>
              <p class="font-mono text-balance text-base font-medium tracking-tighter uppercase">
                {faq.question}
              </p>
              <p class="mt-8 text-sm text-pretty text-gray-700">{faq.answer}</p>
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
